h2 {
    color:violet;
    margin-left: 30%;
    font-size: 40px;
}
h1 {
    <span style="color:green">2</span>
    <span style="color:crimson">o</span>
    <span style="color:orange">o</span>
    <span style="color:blue">g</span>
}